.body {
  background-color: white;
}

.navbar {
  background-color: rgba(255, 212, 22, 0.781);
  padding: 20px;
  color: darkblue;
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(192, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-link {
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid rgb(192, 8, 8);
  color: rgb(192, 8, 8);
  margin: 0 1em;
  padding: 0.25em 1em;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 40, 156);
  margin: 20px;
  padding: 30px;
  box-shadow: 10px 10px 10px grey;
  border: 2px solid rgb(192, 8, 8);
}

.search-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  color: white;
  display: flex;
  justify-content: center;
}

.input {
  margin: 5px;
  font-size: 20px;
  width: 250px;
  overflow: auto;
}

.submit-button {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 2px solid rgb(192, 8, 8);
  color: rgb(192, 8, 8);
  margin: 0 1em;
  padding: 0.25em 1em;
  width: 30px;
}

.route-info-table-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.route-info-table {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border: 2px solid rgb(192, 8, 8);
}

thead {
  background-color: rgb(40, 40, 156);
  font-size: 20px;
}

th {
  padding: 10px;
  color: white;
}

th + th {
  padding-left: 150px;
}